@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@media(max-width: 670px){
  .header-logo {
    font-size: 25px;
    background-color: #0C4B33;
    width: 100%;
    text-align: center!important;
    padding: 20px 0!important;
    border-bottom: 1px solid white;
  }

  .header-list  {
    width: 100%;
    background-color: #0C4B33;
  }

  .header-list a {
    width: 20%!important;
    float: left;
    padding: 30px 0px!important;
    margin: 0;
    font-size: 13px!important;
  }

  .copy-container h1 {
    font-size: 55px!important;
    font-family:'Noto Sans Japanese', sans-serif;

  }

}

header {
  background-color: #0C4B33;
  height: 100px;
  color: white;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  font-family:'Noto Sans Japanese', sans-serif;
}

.header-logo {
  font-size: 30px;
  padding: 25px 40px;
  float: left;
  text-align: center;
  margin: 0;
  display: block;
  background-color: #0C4B33;
  color: white;
}

.header-list {
  float: right;
}

.header-list a {
  font-size: 20px;
  margin: 0;
  display: inline-block;
  float: left;
  background-color: #0C4B33;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 35px 40px;
  margin: 0;
  transition: 0.6s;
}

.header-list a:hover {
  background-color: #44B78B;
}

main {
  background-color: #EEEEEE;
  height: 1000px;
  position: absolute;
  top: 100px;
  z-index: 5;
}

.copy-container h1 {
  font-size: 80px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 130px 0px 140px 0px;
  border-bottom: 2px solid #44B78B;
  letter-spacing: 2px;
}

.dot-span {
  color: #ff4a4a;
}

.share {
  text-align: center;
}

.share h1 {
  text-align: center;
  padding: 50px 0px;
}

.share a {
  display: inline-block;
  padding: 0;
  margin: 0px 20px;
  border-radius: 50%;
  transition: 0.6s;
}

.fab {
  width: 30px;
  height: 30px;
  color: white;
  font-size: 30px;
  padding: 40px 40px;
}

.tw {
  background-color: #00a1e9;
}

.fb {
  background-color: #3b5998;
}

.gp {
  background-color: #c53727;
}

.share a:hover {
  opacity: 0.6;
}
